<!DOCTYPE html>
<html>

<head>

    <title>Alter Bridge -- Feedback</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/feedback.css" >

</head>

<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #003566;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="<%= artistLogo %> " alt="Artist Logo" class="w-25">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>HOME</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/albums"><b>DISCOGRAPHY</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>MESSAGE BOARD</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat"><b>CHAT</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="feedback-form-title">Send us feedback</h1>
                <form class="feedback-form">
                    <div class="form-group">
                        <label for="feedback-form-name">Name</label>
                        <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name">
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-title">Title</label>
                        <input type="text" class="form-control" id="feedback-form-title"
                            placeholder="Title of your feedback">
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-message">Message</label>
                        <textarea type="text" placeholder="Enter your message, then hit the submit" class="form-control"
                            id="feedback-form-message" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                </form>
            </div><!-- primary -->
            <aside class="col-sm-8">
                <div class="maincontent feedback">
                    <h2 class="article-title">Recent Feedback</h2>
                    <div class="feedback-messages">

                    </div>
                </div>
            </aside><!-- secondary -->
        </div>
    </div><!-- container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/js/feedbackStatic.js"></script>


</body>

</html>